body {
    font-family: helvetica;
    max-width:800px;
    background-color: #f8f8f8;
    font-size: 15px;

}
.template
{
	display: none;
}

.rCell
{
    text-align: right;
}

button
{
	font-size: 10px;
    font-weight: normal;
	padding: 0.05em 0.75em 0.1em 0.75em;
	/* color: #3C302B !important;
	background-color: #FFD095; */
}

.commentAuthor {
    font-style: oblique;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 15px;
}

.header2 {
    background-color: #fcc;
}

.label {
    display: inline-block;
    color: #006;
    font-weight: bold;
}
.newcomment {
    width: 700px;
}
.comment {
    margin-top: 3px;
}
.commentHtml {
    background: rgba(255, 255, 255, 0.9);
}
.commentFooter {
/*    width: 700px; */
    /* background-color: #ccc; */
    /* background: rgba(255, 255, 255, 0.3); */
    color: #fff;
}
.commentInfo{
    display: inline-block;
    font-size: small;
    font-style: oblique;

}
.commentActions {
    display: inline-block;
}

.formParamName {
    display: inline-block;
    width: 120px;
}
.formParamValue {
    display: inline-block;
    width: 400px;
}
.formParamValue input {
    width: 380px;
}

.consolemessage {
    height: 23px;
}
.consolemessage.warning {
    background-image: url("/image/msgwarning.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 2px;
    background-color: #fc9;
    vertical-align: middle;

}

.header1 {
    background-image: url("/resources/hcats.png");
    background-repeat: no-repeat;
    background-size: 28px 50px;
    height: 35px;
    vertical-align: middle;
    padding-left: 40px;
    padding-top: 15px;
    font-size: 25px;
}
.header1 .title {
    height: 20px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    padding:1px 10px 1px 10px;
}

.eventInfo {
    font-style: oblique;
    font-size: 15px;
}

.eventDescription {
    font-style: oblique;
    border: 1px solid black;
    border-radius: 6px;
    padding:10px;
    background-color: #fff;

    font-size: 15px;




}

.rightalign {
    float:right;
}