# .htaccess file
# -----------------------------------------------------------------------------------------
# mod_rewrite directives for removing /dwf/index.php from URLs
# unless they are within the /assets/ directory
# -----------------------------------------------------------------------------------------
#
#
#

ReWriteEngine On
RewriteCond %{REQUEST_URI} !(\.gif|\.jpg|\.png|\.jpeg|\.js|\.css)$ [NC]
RewriteCond %{REQUEST_URI} !^/index.php/

RewriteRule ^(.*)$      /index.php/$1       [QSA]

